.issue-main-container {
  width: 100%;
  min-height: 100vh;
  padding: 4.5rem 1rem 2rem;
  background-color: #0d1117;
  position: relative;
}

h2 {
  margin-left: 2rem;
  margin-block: 2rem;
}

.issues_Container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding-inline-start: 1.95rem;
  padding-bottom: 5rem;
  margin-bottom: 2rem;
}

.issues_Container .issue_Item {
  width: 32rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.issues_Container .issue_Item .issue_Name {
  font-size: 1.3rem;
  font-weight: 600;
}

.issues_Container .issue_Item .issue_Desc {
  font-size: 0.8rem;
  font-weight: 600;
}

.issues_Container .issue_Item .issue_Link {
  padding-top: 1rem;
  color: #646cff;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    color: #535bf2;
  }
}

.go_Back {
  border: 1px solid gray;
  background-color: #0d111703;
}
