.main_Container {
  width: 100%;
  min-height: 100vh;
  padding-inline-start: 15.5rem;
  padding-top: 5.5rem;
  background-color: rgb(13, 17, 23);
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.heading ~ .about {
  font-size: 0.8rem;
  font-weight: 500;
}

.heading ~ .about > a:hover {
  text-decoration: underline;
}

.about {
  width: 48.3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.266);
}

.about ~ .message {
  font-size: 0.8rem;
  font-weight: 500;
  font-style: italic;
}

.form_CreateRepo {
  margin-top: 1.1rem;
}

.inputsWrapper {
  display: flex;
  gap: 3.5rem;
}

.owner {
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
}

.owner label {
  font-size: 0.75rem;
  font-weight: bold;
}

.owner .select_Owner {
  position: relative;
}

.select_Owner select {
  width: 10rem;
  height: 1.75rem;
  border-radius: 5px;
  padding: 2px 1px;
  border: 1.5px solid gray;
  background-color: rgba(128, 128, 128, 0.449);
  font-size: 0.8rem;
  font-weight: 600;
  appearance: none;
  cursor: pointer;
  padding-inline-start: 1.5rem;
}

.select_Owner select option {
  background-color: #0d1117;
  border-radius: 5px;
}

.select_Owner img {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  top: 0.55rem;
  right: 1rem;
}

.repoName {
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
}

.repoName label {
  font-size: 0.75rem;
  font-weight: bold;
}

.repoName input {
  width: 10.5rem;
  height: 1.75rem;
  border-radius: 5px;
  padding: 2px 6px;
  border: 1.5px solid gray;
  background-color: #0d1117;
}

.suggestion {
  margin-top: 0.4rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.description {
  width: 48rem;
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.266);
}

.description label {
  font-size: 0.75rem;
  font-weight: bold;
}

.description input {
  width: 48rem;
  height: 1.75rem;
  border-radius: 5px;
  padding: 2px 6px;
  border: 1.5px solid gray;
  background-color: #0d1117;
}

.visibility {
  width: 48rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.266);
}

.visibility > span {
  font-weight: 500;
}

.public_Container {
  display: flex;
  gap: 0.5rem;
}

.public_Container .public {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

.public div {
  display: flex;
  flex-direction: column;
}

.public div .span_1 {
  font-size: 0.9rem;
  font-weight: 600;
}

.public div .span_2 {
  font-size: 0.7rem;
  color: gray;
  font-weight: 500;
}

.private_Container {
  display: flex;
  gap: 0.5rem;
}

.private_Container .private {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

.private div {
  display: flex;
  flex-direction: column;
}

.private div .span_1 {
  font-size: 0.9rem;
  font-weight: 600;
}

.private div .span_2 {
  font-size: 0.7rem;
  color: gray;
  font-weight: 500;
}

.readme {
  width: 48rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.85rem;
  font-weight: bold;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.266);
}

.submit {
  width: 48rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin-top: 1.75rem;
  padding-bottom: 5rem;
}

.submit .cancel_Btn {
  width: 8.5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  background-color: #213028bc;

  &:hover {
    background-color: #213028;
  }
}

.submit .createRepo_Btn {
  width: 8.5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgba(35, 134, 55, 0.9);

  &:hover {
    background-color: rgba(35, 134, 55);
  }
}
