.profile-container {
  width: 100%;
  min-height: 100vh;
  padding: 4.5rem 1rem 2rem;
  background-color: #0d1117;
  position: relative;
}

.profile-page-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  margin: 0 auto;
  color: whitesmoke;
  width: 100%;
}

.user-profile-section {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
}

.user-repo-section {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
}

.user-name {
  margin: 10px 20px 10px 10px;
}

.profile-image {
  margin: 10px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-btn {
  background-color: #20272d;
  width: 250px;
  margin: 10px auto;
  height: 40px;
  border-radius: 10px;
  color: whitesmoke;
}

.follower {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 30px;
  gap: 10px;
  margin: 10px auto;
  margin-top: -1rem;
}

.heat-map-section img {
  width: 90%;
  border-radius: 0.75rem;
  border: 1.5px solid rgba(128, 128, 128, 0.5);
}

.profile-page-wrapper ~ h2 {
  margin-left: 2rem;
  margin-block: 2rem;
}

.repositories_UserProfile {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding-inline-start: 1.95rem;
  padding-bottom: 5rem;
  margin-bottom: 2rem;
}

.repositories_UserProfile .repo_Item {
  width: 32rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

/* .repositories_UserProfile .repo_Item .repo_Name img {
  margin-bottom: -0.1rem;
} */

.repositories_UserProfile .repo_Item .repo_Name {
  font-size: 1.3rem;
  font-weight: 600;
}

.repositories_UserProfile .repo_Item .repo_Desc {
  font-size: 0.8rem;
  font-weight: 600;
}

.repositories_UserProfile .repo_Item .repo_Link {
  padding-top: 1rem;
  color: #646cff;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    color: #535bf2;
  }
}

.go_Back {
  border: 1px solid gray;
  background-color: #0d111703;
}

#logout {
  border: 1px solid gray;
  background-color: #0d111703;
}

#logout:hover {
  border: 1px solid #646cff;
}

@media screen and (max-width: 750px) {
  .repo_Item {
    width: 100%;
  }

  .profile-page-wrapper {
    display: block;
  }
  .user-profile-section {
    margin: auto;
  }
}

@media screen and (max-width: 570px) {
  .user-profile-section {
    margin: auto;
  }

  .profile-page-wrapper {
    display: block;
  }
}
